:root {
    --orange:    #FF8811;
    --yellow:    #F4D06F;
    --white:     #FFF8F0;
    --lightBlue: #9DD9D2;
    --darkBlue:  #FF8811;
}

body {
    background-color: var(--yellow);
}

div {
    height: 100vh;
    width: 100vw;
}